 /*.px2px(@name, @px) {
      @{name}: round(@px / 2) * 1px;
      [data-dpr="2"] & {
        @{name}: @px * 1px;
      } // for mx3
      [data-dpr="2.5"] & {
        @{name}: round(@px * 2.5 / 2) * 1px;
      } // for 小米note
      [data-dpr="2.75"] & {
        @{name}: round(@px * 2.75 / 2) * 1px;
      }
      [data-dpr="3"] & {
        @{name}: round(@px / 2 * 3) * 1px
      } // for 三星note4
      [data-dpr="4"] & {
        @{name}: @px * 2px;
      }
    }*/

    .LoginPage {
      width: 10rem;
      margin: 0 auto;
      position: relative;
      /*.px2px(font-size, 30px);*/
    }

    .LoginPage .icon {
      width: .266667rem;
      height: .346667rem;
      background: url('../../assets/返回.png') no-repeat center;
      background-size: .266667rem .346667rem;
      position: absolute;
      left: .4rem;
      top: .4rem;
    }

    .LoginPage h3 {
      width: 10rem;
      height: 1.066667rem;
      line-height: 1.066667rem;
      text-align: center;
      background: #007aff;
      color: #fff;
      /*.px2px(font-size,
      30px);*/
    }

    .LoginPage .content {
      position: absolute;
      width: 8.6rem;
      height: 8.6rem;
      border-radius: .133333rem;
      background: #ffffff;
      left: 50%;
      top: 50%;
      margin-left: -4.3rem;
      margin-top: 2rem;
    }

    .LoginPage .content .username {
      padding: .533333rem;
      height: .866667rem;
      box-sizing: border-box;
    }

    .LoginPage .content .username .User_input {
      width: 6rem;
      height: .8rem;
      border: none;
      background: #f1f8ff;
    }

    .LoginPage .content .classData {
      padding: .533333rem;
      height: .866667rem;
    }

    .LoginPage .content .classData .Dropdown {
      width: 6rem;
      height: .8rem;
      border: none;
      background: #f1f8ff;
    }

    .LoginPage .content .submit {
      position: absolute;
      left: 50%;
      bottom: .4rem;
      margin-left: -1.5rem;
      width: 3rem;
      height: 1rem;
      background: pink;
    }

    .LoginPage .content .submit .btns {
      width: 3rem;
      height: 1rem;
    }